## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column, 'EIN'.
application_df = application_df.drop(['EIN'], axis=1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()
cutoff = 500
application_types_to_replace = list(application_counts[application_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
cutoff = 100
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaced
replace_names = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in replace_names:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/var/folders/yx/ps416q652fgb2bstv0qzrzs40000gn/T/ipykernel_76078/649521624.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(['IS_SUCCESSFUL'],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                810

 dense_1 (Dense)             (None, 8)                 88

 dense_2 (Dense)             (None, 6)                 54

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 959 (3.75 KB)
Trainable params: 959 (3.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
num_epochs = 100
nn.fit(X_train_scaled, y_train, epochs=num_epochs)

Epoch 1/100

804/804 [==============================] - 1s 469us/step - loss: 0.6055 - accuracy: 0.6942
Epoch 2/100
804/804 [==============================] - 0s 442us/step - loss: 0.5257 - accuracy: 0.7486
Epoch 3/100
804/804 [==============================] - 0s 440us/step - loss: 0.5120 - accuracy: 0.7552
Epoch 4/100
804/804 [==============================] - 0s 442us/step - loss: 0.5067 - accuracy: 0.7580
Epoch 5/100
804/804 [==============================] - 0s 439us/step - loss: 0.5012 - accuracy: 0.7604
Epoch 6/100
804/804 [==============================] - 0s 441us/step - loss: 0.4993 - accuracy: 0.7603
Epoch 7/100
804/804 [==============================] - 0s 442us/step - loss: 0.4980 - accuracy: 0.7601
Epoch 8/100
804/804 [==============================] - 0s 433us/step - loss: 0.4971 - accuracy: 0.7617
Epoch 9/100
804/804 [==============================] - 0s 433us/step - loss: 0.4965 - accuracy: 0.7608
Epoch 10/100
804/804 [==============================] - 0s 433us/step - loss: 0.4955 - accuracy: 0.7619
Epoch 11/100
804/804 [==============================] - 0s 432us/step - loss: 0.4947 - accuracy: 0.7608
Epoch 12/100
804/804 [==============================] - 0s 428us/step - loss: 0.4943 - accuracy: 0.7609
Epoch 13/100
804/804 [==============================] - 0s 433us/step - loss: 0.4937 - accuracy: 0.7617
Epoch 14/100
804/804 [==============================] - 0s 432us/step - loss: 0.4934 - accuracy: 0.7622
Epoch 15/100
804/804 [==============================] - 0s 486us/step - loss: 0.4932 - accuracy: 0.7617
Epoch 16/100
804/804 [==============================] - 0s 432us/step - loss: 0.4927 - accuracy: 0.7624
Epoch 17/100
804/804 [==============================] - 0s 432us/step - loss: 0.4925 - accuracy: 0.7614
Epoch 18/100
804/804 [==============================] - 0s 430us/step - loss: 0.4920 - accuracy: 0.7617
Epoch 19/100
804/804 [==============================] - 0s 431us/step - loss: 0.4919 - accuracy: 0.7626
Epoch 20/100
804/804 [==============================] - 0s 435us/step - loss: 0.4916 - accuracy: 0.7630
Epoch 21/100
804/804 [==============================] - 0s 438us/step - loss: 0.4914 - accuracy: 0.7623
Epoch 22/100
804/804 [==============================] - 0s 440us/step - loss: 0.4913 - accuracy: 0.7615
Epoch 23/100
804/804 [==============================] - 0s 439us/step - loss: 0.4911 - accuracy: 0.7631
Epoch 24/100
804/804 [==============================] - 0s 436us/step - loss: 0.4910 - accuracy: 0.7617
Epoch 25/100
804/804 [==============================] - 0s 441us/step - loss: 0.4908 - accuracy: 0.7635
Epoch 26/100
804/804 [==============================] - 0s 438us/step - loss: 0.4906 - accuracy: 0.7624
Epoch 27/100
804/804 [==============================] - 0s 438us/step - loss: 0.4907 - accuracy: 0.7629
Epoch 28/100
804/804 [==============================] - 0s 439us/step - loss: 0.4903 - accuracy: 0.7623
Epoch 29/100
804/804 [==============================] - 0s 436us/step - loss: 0.4899 - accuracy: 0.7634
Epoch 30/100
804/804 [==============================] - 0s 439us/step - loss: 0.4903 - accuracy: 0.7620
Epoch 31/100
804/804 [==============================] - 0s 495us/step - loss: 0.4897 - accuracy: 0.7621
Epoch 32/100
804/804 [==============================] - 0s 437us/step - loss: 0.4896 - accuracy: 0.7621
Epoch 33/100
804/804 [==============================] - 0s 433us/step - loss: 0.4892 - accuracy: 0.7626
Epoch 34/100
804/804 [==============================] - 0s 433us/step - loss: 0.4873 - accuracy: 0.7632
Epoch 35/100
804/804 [==============================] - 0s 434us/step - loss: 0.4854 - accuracy: 0.7637
Epoch 36/100
804/804 [==============================] - 0s 431us/step - loss: 0.4848 - accuracy: 0.7633
Epoch 37/100
804/804 [==============================] - 0s 430us/step - loss: 0.4842 - accuracy: 0.7627
Epoch 38/100
804/804 [==============================] - 0s 434us/step - loss: 0.4839 - accuracy: 0.7624
Epoch 39/100
804/804 [==============================] - 0s 430us/step - loss: 0.4840 - accuracy: 0.7635
Epoch 40/100
804/804 [==============================] - 0s 433us/step - loss: 0.4835 - accuracy: 0.7634
Epoch 41/100
804/804 [==============================] - 0s 433us/step - loss: 0.4829 - accuracy: 0.7632
Epoch 42/100
804/804 [==============================] - 0s 430us/step - loss: 0.4831 - accuracy: 0.7628
Epoch 43/100
804/804 [==============================] - 0s 432us/step - loss: 0.4829 - accuracy: 0.7641
Epoch 44/100
804/804 [==============================] - 0s 428us/step - loss: 0.4823 - accuracy: 0.7649
Epoch 45/100
804/804 [==============================] - 0s 432us/step - loss: 0.4821 - accuracy: 0.7642
Epoch 46/100
804/804 [==============================] - 0s 437us/step - loss: 0.4823 - accuracy: 0.7635
Epoch 47/100
804/804 [==============================] - 0s 489us/step - loss: 0.4822 - accuracy: 0.7641
Epoch 48/100
804/804 [==============================] - 0s 437us/step - loss: 0.4819 - accuracy: 0.7638
Epoch 49/100
804/804 [==============================] - 0s 437us/step - loss: 0.4818 - accuracy: 0.7650
Epoch 50/100
804/804 [==============================] - 0s 439us/step - loss: 0.4817 - accuracy: 0.7647
Epoch 51/100
804/804 [==============================] - 0s 450us/step - loss: 0.4815 - accuracy: 0.7639
Epoch 52/100
804/804 [==============================] - 0s 445us/step - loss: 0.4814 - accuracy: 0.7632
Epoch 53/100
804/804 [==============================] - 0s 444us/step - loss: 0.4815 - accuracy: 0.7642
Epoch 54/100
804/804 [==============================] - 0s 442us/step - loss: 0.4812 - accuracy: 0.7645
Epoch 55/100
804/804 [==============================] - 0s 437us/step - loss: 0.4813 - accuracy: 0.7641
Epoch 56/100
804/804 [==============================] - 0s 440us/step - loss: 0.4810 - accuracy: 0.7647
Epoch 57/100
804/804 [==============================] - 0s 439us/step - loss: 0.4813 - accuracy: 0.7640
Epoch 58/100
804/804 [==============================] - 0s 439us/step - loss: 0.4807 - accuracy: 0.7646
Epoch 59/100
804/804 [==============================] - 0s 433us/step - loss: 0.4807 - accuracy: 0.7645
Epoch 60/100
804/804 [==============================] - 0s 427us/step - loss: 0.4810 - accuracy: 0.7653
Epoch 61/100
804/804 [==============================] - 0s 427us/step - loss: 0.4806 - accuracy: 0.7651
Epoch 62/100
804/804 [==============================] - 0s 427us/step - loss: 0.4806 - accuracy: 0.7658
Epoch 63/100
804/804 [==============================] - 0s 485us/step - loss: 0.4807 - accuracy: 0.7646
Epoch 64/100
804/804 [==============================] - 0s 430us/step - loss: 0.4803 - accuracy: 0.7643
Epoch 65/100
804/804 [==============================] - 0s 431us/step - loss: 0.4803 - accuracy: 0.7649
Epoch 66/100
804/804 [==============================] - 0s 432us/step - loss: 0.4802 - accuracy: 0.7657
Epoch 67/100
804/804 [==============================] - 0s 429us/step - loss: 0.4803 - accuracy: 0.7648
Epoch 68/100
804/804 [==============================] - 0s 432us/step - loss: 0.4803 - accuracy: 0.7643
Epoch 69/100
804/804 [==============================] - 0s 431us/step - loss: 0.4799 - accuracy: 0.7648
Epoch 70/100
804/804 [==============================] - 0s 434us/step - loss: 0.4801 - accuracy: 0.7650
Epoch 71/100
804/804 [==============================] - 0s 432us/step - loss: 0.4799 - accuracy: 0.7650
Epoch 72/100
804/804 [==============================] - 0s 435us/step - loss: 0.4797 - accuracy: 0.7649
Epoch 73/100
804/804 [==============================] - 0s 432us/step - loss: 0.4797 - accuracy: 0.7663
Epoch 74/100
804/804 [==============================] - 0s 437us/step - loss: 0.4797 - accuracy: 0.7656
Epoch 75/100
804/804 [==============================] - 0s 439us/step - loss: 0.4797 - accuracy: 0.7652
Epoch 76/100
804/804 [==============================] - 0s 437us/step - loss: 0.4794 - accuracy: 0.7642
Epoch 77/100
804/804 [==============================] - 0s 437us/step - loss: 0.4796 - accuracy: 0.7640
Epoch 78/100
804/804 [==============================] - 0s 495us/step - loss: 0.4794 - accuracy: 0.7649
Epoch 79/100
804/804 [==============================] - 0s 437us/step - loss: 0.4794 - accuracy: 0.7659
Epoch 80/100
804/804 [==============================] - 0s 437us/step - loss: 0.4796 - accuracy: 0.7649
Epoch 81/100
804/804 [==============================] - 0s 443us/step - loss: 0.4797 - accuracy: 0.7654
Epoch 82/100
804/804 [==============================] - 0s 436us/step - loss: 0.4793 - accuracy: 0.7664
Epoch 83/100
804/804 [==============================] - 0s 440us/step - loss: 0.4794 - accuracy: 0.7655
Epoch 84/100
804/804 [==============================] - 0s 447us/step - loss: 0.4791 - accuracy: 0.7651
Epoch 85/100
804/804 [==============================] - 0s 435us/step - loss: 0.4791 - accuracy: 0.7661
Epoch 86/100
804/804 [==============================] - 0s 431us/step - loss: 0.4789 - accuracy: 0.7657
Epoch 87/100
804/804 [==============================] - 0s 430us/step - loss: 0.4790 - accuracy: 0.7656
Epoch 88/100
804/804 [==============================] - 0s 432us/step - loss: 0.4792 - accuracy: 0.7656
Epoch 89/100
804/804 [==============================] - 0s 432us/step - loss: 0.4789 - accuracy: 0.7654
Epoch 90/100
804/804 [==============================] - 0s 431us/step - loss: 0.4787 - accuracy: 0.7643
Epoch 91/100
804/804 [==============================] - 0s 430us/step - loss: 0.4789 - accuracy: 0.7648
Epoch 92/100
804/804 [==============================] - 0s 484us/step - loss: 0.4789 - accuracy: 0.7645
Epoch 93/100
804/804 [==============================] - 0s 430us/step - loss: 0.4787 - accuracy: 0.7647
Epoch 94/100
804/804 [==============================] - 0s 432us/step - loss: 0.4788 - accuracy: 0.7634
Epoch 95/100
804/804 [==============================] - 0s 432us/step - loss: 0.4783 - accuracy: 0.7648
Epoch 96/100
804/804 [==============================] - 0s 437us/step - loss: 0.4786 - accuracy: 0.7654
Epoch 97/100
804/804 [==============================] - 0s 443us/step - loss: 0.4784 - accuracy: 0.7667
Epoch 98/100
804/804 [==============================] - 0s 434us/step - loss: 0.4785 - accuracy: 0.7645
Epoch 99/100
804/804 [==============================] - 0s 437us/step - loss: 0.4783 - accuracy: 0.7650
Epoch 100/100
804/804 [==============================] - 0s 436us/step - loss: 0.4782 - accuracy: 0.7650

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4969 - accuracy: 0.7521 - 137ms/epoch - 512us/step
Loss: 0.4969455599784851, Accuracy: 0.7520699501037598

In [18]:
# Export model to HDF5 file
nn.save("output/AlphabetSoupCharity_Optimisation.h5")

/Users/alicehandley/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(